PatMap.mlapp
PatMap_exported.m
Dariks_Fear_Functions
WorkingFunctions
decodeOnlyUDF5_BIG.m
PatMap/for_redistribution
PatMap/for_redistribution_files_only
PatMap/for_testing
PatMap/PackagingLog.html
New_Save.mat
PatMap.prj
VisualCtx_ROIs.mat
PaperFigures
Untitled4.m
DarikFearData
Experiments
export_figures
626_DEM2_RET_DN.mat
DEM2_DWN_627_ALL_BUT_APP.mat
idk.m
evaluateIndividualNeuronsParProc.m
New_Save.mat
SingleNeuronPlot.m
Untitled2.m
Untitled4.m
Untitled8.m
Untitled9.m
export_fig-3.27
assessFullPerf.m
PreviousSave.mat
plotmultipleROISets.m
*.mat
DEM2_TIME_ANALYSIS
DEM2_RET_DWN_DATA_SHUFFLES
DEM2_ENC_BINS
OTHER
UnincorporatedFunctions
shuffledData
shuffledModels
/Dep/
/Dep/ANALYSIS/
/Dep/ExternalFunctionWrappers/
/Dep/Internal/
/Dep/Plotting/
/Dep/tensor_toolbox-v3.2.1/
/Dep/Utilities/
/Dep/Utility/
!/example_datasets/spatial_reward/sub-009_ophys.nwb
